<head>
  <link rel="stylesheet" href="/static/reset.css" />
  <link rel="stylesheet" href="/static/styles.css" />
  <script src="/static/scripts.js"></script>
</head>
<body>
  <div
    style="
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100vw;
      height: 100vh;
      gap: 2rem;
    "
  >
    <div class="bold">plaintext.social</div>
    <input
      type="text"
      id="user_name"
      style="font-family: Alata, sans-serif; padding: 0.25rem"
      placeholder="Username"
    />
    <button id="login-button" onclick="login()">Login →</button>
  </div>
</body>
