{% extends "base.html" %} {% block root %}
<div class="sidebar">
  <a href="../../feed">← Back</a>
</div>
<div class="user-header">
  <div class="bold" style="font-size: 1.5em">{{display_name}}</div>
  <p class="italic">@{{user_name}}</p>
  <div style="display: flex; gap: 1rem">
    {% if replies %}<a href="/user/{{user_name}}">Posts</a>{% else %}
    <div class="underline">Posts</div>
    {% endif %} {% if not replies %}<a href="/user/{{user_name}}/replies">
      Replies</a
    >{% else %}
    <div class="underline">Replies</div>
    {% endif %}
  </div>
</div>
<div class="chat-container">
  {% if posts|length == 0 %}
  <div class="italic">
    No {% if not replies %}posts{% else %}replies{% endif %} found
  </div>
  {% endif %} {% for post in posts %}
  <div class="chat-post">
    <header>
      <span class="bold">{{post.author.display_name}}</span>
      @{{post.author.user_name}} • {{ post.timediff }}
    </header>
    <p>{{post.content}}</p>
    <footer class="chat-post-footer">
      <button onclick="location.href='/post/{{post.id}}'">
        💬 {{post.replies}}
      </button>
      <button onclick="handleLike(event)">🩶 {{post.likes}}</button>
      <button onclick="handleShare('{{post.id}}')">🔗</button>
    </footer>
  </div>
  {% endfor %}
</div>
{% endblock %}
