{% extends "base.html" %} {% block root %}
<div class="sidebar">
  <a href="../../">← Back</a>
</div>
<div class="user-header">
  <div class="bold" style="font-size: 1.5em">{{name}}</div>
  <p class="italic">@{{account}}</p>
  <div style="display: flex; gap: 1rem">
    {% if replies %}<a href="/user/{{account}}">Messages</a>{% else %}
    <div class="underline">Messages</div>
    {% endif %} {% if not replies %}<a href="/user/{{account}}/replies">
      Replies</a
    >{% else %}
    <div class="underline">Replies</div>
    {% endif %}
  </div>
</div>
<div class="chat-container">
  {% if messages|length == 0 %}
  <div class="italic">No messages found.</div>
  {% endif %} {% for message in messages %}
  <div class="chat-message">
    <header>
      <span class="bold">{{message.display_name}}</span>
      @{{message.account}} • {{ message.created_at }}
    </header>
    <p>{{message.content}}</p>
    <footer class="chat-message-footer">
      <button onclick="location.href='/message/{{message.id}}'">
        💬 {{message.replies}}
      </button>
      <button onclick="handleLike(event)">🩶 {{message.likes}}</button>
      <button onclick="handleShare('{{message.id}}')">🔗</button>
    </footer>
  </div>
  {% endfor %}
</div>
{% endblock %}
